# Introduction to Python Programming

A few high-level notes on Python

- Python is an intepreted language, meaning there is no linking or compiling necessary of (pure Python) programs. 

- Python allows you to split a program over modules that can be reused in other Python programs.

- Statement grouping is done via indentation rather than brackets or braces.

## Numbers and Arithmetic
- Computers help us to solve math problems. Let's do a few computations.

In [ ]:
# addition
5 + 3

In [ ]:
# subtraction
15 - 10

In [ ]:
# multiplication
3 * 10

In [ ]:
# division
5 / 8

In [ ]:
# integer division
5 // 8

In [ ]:
# modulo
8 % 5

In [ ]:
# exponents
2**3

In [ ]:
#PEMDAS
2 * (12.0 / 3 - 2)**2

## Display

In [14]:
"Hello World"

'Hello World'

In [15]:
print("Hello World!")

Hello World!

## Variables and Assignement

In [17]:
name = "Aseda"

In [20]:
age = 30

In [22]:
height = 162.5

In [88]:
marital_status = True

In [87]:
type(name)

str

In [26]:
print(name, "is", age, "years old. She is", height, "cm tall.")

Aseda is 30 years old. She is 162.5 cm tall.

In [36]:
print("{} is {} years old. She is {} cm tall.".format(name,age,height))

Aseda is 30 years old. She is 162.5 cm tall.

In [35]:
print(name + " is " + str(age) + " years old. She is " + str(height) + " cm tall.")

Aseda is 30 years old. She is 162.5 cm tall.

In [57]:
print("The second name on the names list is %s" % name)

The second name on the names list is Aseda

To do:  
1. Create your own variables with your own data

## Lists

In [51]:
my_friends = ["Mercy", "Kojo", "Aba", "Serwaa"]

In [52]:
my_friends

['Mercy', 'Kojo', 'Aba', 'Serwaa']

In [40]:
# indexing lists
my_friends[0]

'Mercy'

In [50]:
my_friends[-1]

'Aba'

In [53]:
my_friends[1] = "Kwame"

In [54]:
my_friends

['Mercy', 'Kwame', 'Aba', 'Serwaa']

In [55]:
# appending to lists
my_friends.append('Kofi')
my_friends

['Mercy', 'Kwame', 'Aba', 'Serwaa', 'Kofi']

In [56]:
# printing list elements
for x in my_friends:
    print(x)

Mercy
Kwame
Aba
Serwaa
Kofi

In [58]:
# length of a list
len(my_friends)

5

In [59]:
# creating list with range >> range(start, stop[, step])
numbers = range(5)
numbers

range(0, 5)

In [60]:
for i in numbers:
    print(i)

0
1
2
3
4

In [63]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [64]:
for i in range(5,100,5):
    print(i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [68]:
# list comprehensions
digits = [i for i in range(5,100,5)]
digits

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [73]:
min(digits)

5

In [74]:
max(digits)

95

In [75]:
sum(digits)

950

### Tuples
Tuples are like lists but are immutable.

In [78]:
a = (1, 2, 3)

In [ ]:
a[1] = 12

### Dictionaries 
A dictionary is a mapping type.

In [99]:
my_friends_data = {'Mercy':12, 'Kwame':19, 'Aba':20, 'Serwaa':25}

In [100]:
my_friends_data

{'Aba': 20, 'Kwame': 19, 'Mercy': 12, 'Serwaa': 25}

In [101]:
my_friends_data.get("Mercy")

12

In [102]:
my_friends_data.get("Aseda", "Not found")

'Not found'

In [103]:
my_friends_data["Kwame"]

19

In [105]:
my_friends_data = {'Mercy':[12,134.8,False], 'Kwame':[19,199.89,True], 'Aba':[20,150.20,True], 'Serwaa':[25,169.75,False]}

In [106]:
my_friends_data

{'Aba': [20, 150.2, True],
 'Kwame': [19, 199.89, True],
 'Mercy': [12, 134.8, False],
 'Serwaa': [25, 169.75, False]}

In [108]:
my_friends_data["Kwame"]

[19, 199.89, True]

In [107]:
my_friends_data["Kwame"][0]

19

In [109]:
# Create a dictionary for each friend
friend1 = {"name":"Mercy","age":12,"height":150.2,"marital_status":True}
friend1

{'age': 12, 'height': 150.2, 'marital_status': True, 'name': 'Mercy'}

In [114]:
friend1["age"]

12

In [115]:
# updating a value
friend1["age"] = 13
friend1["age"]

13

In [116]:
del friend1["age"]
friend1["age"]

KeyError: 'age'

In [117]:
friend1

{'height': 150.2, 'marital_status': True, 'name': 'Mercy'}

### Control Flow Tools

In [118]:
x = 42

**if** statements

In [119]:
if x < 0:
    x = 0
    print('Negative set to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

More

**while loops**

In [120]:
x = 0
while x < 5:
    print(x)
    x += 1

0
1
2
3
4

**break** and **continue** statements

In [121]:
for i in range(2, 10):
    if i > 5:
        break
    print(i)

2
3
4
5

In [122]:
for i in range(2, 10):
    if i == 5:
        continue
    print(i)

2
3
4
6
7
8
9

### Functions

In [123]:
def square(x):
    return x**2

In [124]:
square(5)

25

In [129]:
def print_data(data):
    print(data["name"], "is", data["height"], "cm tall and marital status is",data["marital_status"])

In [130]:
print_data(friend1)

Mercy is 150.2 cm tall and marital status is True

In [ ]:
# print data for other friends

**lambda functions**

In [131]:
square2 = lambda x : x**2

In [132]:
square2(12)

144

### Classes
Python is an object-oriented programming (OOP) language that uses classes to define its objects. Basically, everything in Python is an object — lists, tuples, dictionaries, functions, even a string is an object.

All Python objects are based on classes. A class is basically a template for objects. It contains the definition of the object.

In [143]:
class Friend:
    def __init__(self, name, age, height, marital_status=False):
        self.name = name
        self.age = age
        self.height = height
        self.marital_status = marital_status
    
    def print_details(self):
        print(self.name, "is",self.age, "years old,", self.height, 
              "cm tall and marital status is", self.marital_status)

In [147]:
friend1 = Friend("Mercy",12,150.2, True)

In [148]:
friend1.name

'Mercy'

In [149]:
friend1.print_details()

Mercy is 12 years old, 150.2 cm tall and marital status is False

In [ ]:
# create other friend objects

For more information 
- [https://docs.python.org/3/tutorial/](https://docs.python.org/3/tutorial/)  
- [http://python-ds.com](http://python-ds.com)

### Try

In [ ]:
# create function to multiply a number by 10 and divide by 5

In [ ]:
# create